
.backgroundpic2{
    width: 100%;
    background-color: beige;
    background-size: cover;
}

.Ign3{
    border: 3px solid rgb(59, 49, 2);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
} 
.welcometoportfolio{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color:  rgb(59, 49, 2);
    text-shadow: 0 0 2px rgb(204, 152, 8);
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 80px;
    font-size: 25px;
}

.listgroup{
    padding-bottom: 50px;
    padding-top: 50px;
}

.myName{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color:  rgb(59, 49, 2);
    text-shadow: 0 0 2px rgb(71, 53, 3);
    font-size: 25px;
    text-align: end;
  }

.menu1{
    text-align: end;
}