.backgroundpic1{
    width: 100%;
    height: 10vh;
    background: url("https://static.pexels.com/photos/335253/pexels-photo-335253.jpeg") no-repeat 50% 50%;
    background-size: cover;
}

.backgroundpic2{
    width: 100%;
    height: 80vh;
    background: url("https://static.pexels.com/photos/335253/pexels-photo-335253.jpeg") no-repeat 50% 50%;
    background-size: cover;
}